# Задача на теорему Байеса

На склад поступило 2 партии изделий: первая – 4000 штук, вторая – 6000 штук. Средний процент нестандартных изделий в первой партии составляет 20%, а во второй – 10%. Наудачу взятое со склада изделие оказалось стандартным. Найти вероятность того, что оно из первой партии.

### Решение

Доля первой партии из всех изделий: 4000 / (4000 + 6000) = 0.4

Доля второй партии из всех изделий: 6000 / (4000 + 6000) = 0.6

In [27]:
import pandas as pd

df = pd.DataFrame({'Изделие':['Нестандартное', "Стандартное"], 
                   'Первая(40%)':["20%","80%"], 
                   'Вторая(60%)':["10%","90%"]})

In [28]:
df

         Изделие Первая(40%) Вторая(60%)
0  Нестандартное         20%         10%
1    Стандартное         80%         90%

In [33]:
df2 = pd.DataFrame({'Изделие':['Нестандартное', "Стандартное"], 
                    'Первая(40%)':[f'{str(round(0.4*0.2, 5))}%', f'{str(round(0.4*0.8, 5))}%'], 
                    'Вторая(60%)':[f'{str(round(0.6*0.1, 5))}%',f'{str(round(0.6*0.9, 5))}%']})

In [34]:
df2

         Изделие Первая(40%) Вторая(60%)
0  Нестандартное       0.08%       0.06%
1    Стандартное       0.32%       0.54%

In [36]:
res = 0.32 / (0.32 + 0.54)

In [38]:
print("Вероятность того, что оно из первой партии:", res)

Вероятность того, что оно из первой партии 0.3720930232558139