# Задача

К заданию приложен файл `Folds5x2_pp.xlsx`, в котором содержится следующая информация:

Данные содержат около 10 тыс наблюдений об электростанции комбинированного цикла, когда электростанция работала с полной загрузкой. У нас есть следующие факторы (усредненные за час):

1. Температура (АТ)
2. Давление окружающей среды (АР)
3. Вытяжной вакуум (V)
4. Относительная влажность (RH)

Каждая из величин представлена в своих единицах измерения:

- Temperature (T) in the range 1.81°C and 37.11°C,
- Ambient Pressure (AP) in the range 992.89-1033.30 milibar,
- Relative Humidity (RH) in the range 25.56% to 100.16%
- Exhaust Vacuum (V) in teh range 25.36-81.56 cm Hg
- Net hourly electrical energy output (EP) 420.26-495.76 MW

Необходимо предсказать количество отпускаемой электроэнергии в час (EP).

In [1]:
import pandas as pd

with open('Folds5x2_pp.xlsx', 'rb') as f:
    df = pd.read_excel(f)

In [2]:
df.head()

      AT      V       AP     RH      PE
0  14.96  41.76  1024.07  73.17  463.26
1  25.18  62.96  1020.04  59.08  444.37
2   5.11  39.40  1012.16  92.14  488.56
3  20.86  57.32  1010.24  76.64  446.48
4  10.82  37.50  1009.23  96.62  473.90

In [3]:
from scipy import optimize
import numpy as np

def func(a):
    a1, a2, a3, a4, a5 = a
    errors = []
    for x1, x2, x3, x4, y in df.values:
        errors.append(abs(a1 * x1 + a2 * x2 + a3 * x3 + a4 * x4 + a5 - y))

    return np.mean(errors)

def func_sq(a):
    a1, a2, a3, a4, a5 = a
    errors = []
    for x1, x2, x3, x4, y in df.values:
        errors.append((a1 * x1 + a2 * x2 + a3 * x3 + a4 * x4 + a5 - y)**2)

    return np.mean(errors)

In [4]:
result1 = optimize.minimize(func, [0, 0, 0, 0, 0], method='SLSQP')
print(result1)

     fun: 3.613161175174724
     jac: array([3.22112441e-03, 1.24759078e-02, 2.12807238e-01, 1.69773698e-02,
       2.09033489e-04])
 message: 'Optimization terminated successfully.'
    nfev: 265
     nit: 35
    njev: 35
  status: 0
 success: True
       x: array([-2.03727398e+00, -2.31231127e-01,  3.43900691e-02, -1.57366479e-01,
        4.83513292e+02])

In [5]:
result2 = optimize.minimize(func_sq, [0, 0, 0, 0, 0], method='SLSQP')
print(result2)

     fun: 20.76740003086625
     jac: array([0.00000000e+00, 2.38418579e-07, 0.00000000e+00, 2.38418579e-07,
       0.00000000e+00])
 message: 'Optimization terminated successfully.'
    nfev: 106
     nit: 13
    njev: 13
  status: 0
 success: True
       x: array([-1.97772613e+00, -2.33886851e-01,  6.17621493e-02, -1.58092306e-01,
        4.54939703e+02])

In [6]:
AT = float(input('Введите AT:'))
V = float(input('Введите V:'))
AP = float(input('Введите AP:'))
RH = float(input('Введите RH:'))

Введите AT:10
Введите V:39
Введите AP:1010
Введите RH:80

In [9]:
pred1 = np.sum((result1['x']) * np.array([AT, V, AP, RH, 1]))
print(pred1)

476.2671893579447

In [10]:
pred2 = np.sum((result2['x']) * np.array([AT, V, AP, RH, 1]))
print(pred2)

475.7732410780833